<div class="" id="intro">
    <div class="text-center">
        <h3 class="">
            To continue, we need to verify your identity
        </h3>
    </div>

    <div class="my-4 rounded-2 border" style="padding: 20px 25px">
        <div class="d-flex align-items-center mb-3">
            <img src="/assets/icons/eye-off.svg" alt="" class="feature-icon">
            <div class="feature-text">
                <b>How Confam verifies your identity.</b> Confam checks the data you provide againts approved databases.
            </div>
        </div>

        <div class="d-flex align-items-center mb-3">
            <img src="/assets/icons/shield-check.svg" alt="" class="feature-icon">
            <div class="feature-text">
                <b>Fast and secure.</b>
                Your data is encrypted and will never be made accessible to unauthorized third parties.
            </div>
        </div>

        <div class="d-flex align-items-center">
            <div class="feature-text">
                Allow is authorized and regulated by the<b> National Data Privacy Board (NDPB).</b>
            </div>
        </div>
    </div>

    <div class="footer-text">
        By clicking 'Continue' you agree to <a href="#">Allow's End-user Policy</a>.<br>
    </div>
    <button class="al-primary-button">Continue</button>
</div>