<div class="d-flex align-items-center justify-content-center flex-column">
    <img src="/assets/icons/check-circle.svg" alt="" class="feature-icon">
    <div class="mt-2 text-center">
        <h4 class="">
            Verification data submitted successfully!
        </h4>
    </div>
    <div class="mt-2 text-center">
        <!-- <p class="mb-0 feature-text">
            We are processing your data. You will receive an email once the verification is complete.
        </p> -->
        <p class="mb-0 feature-text">
            Redirecting you in <span id="countdown">5</span> seconds.
        </p>
    </div>
</div>